### Data Cleaning Questions

- How do we consolidate `Week` and `Location` data from the 2016 filenames to the final 2016 DataFrame?

## Steps for Cleaning All Data:
---
- Step 1: Clean the 2016 Data (Weeks 1-7) into One DataFrame.
- Step 2: Clean the 2016 Data (Weeks 8) into One DataFrame.
- Step 2.5: Aggregate both 2016 Datasets (Weeks 1-7 and Week 8) into One Bigger DF (Weeks 1-8).
- Step 3: Clean the 2017 Data into One DataFrame.
- Step 3.5: Aggregate the 2016 DataFrame (Weeks 1-8) and the 2017 DF into One Biggest DF (2016-17). 


### Observation that 4/5 may not be exactly equivalent to 8/10 as it is to 9/10...

- [`STRETCH`] Try both scenarios on any related questions!

## What is Cleaning?

- Some data might be irrelevant, redundant, null, nonsensical
- Cleaning involves the steps to reduce the noise in a dataset
- CLEANING: Converting a ton of noise, extracting _signal_, and ending up with a **single source of truth**
- Signal is data that is valuable towards answering a question; extracting signal is our end goal in all types of data science

# Kash Cleaning Tips


### Understand what a column (feature) is truly communicating 
- Examples: [1-5] scale vs. [1-10] vs. "A little too slow" text scale, 

### NULL Values (NaNs)
-

In [2]:
import glob
import pandas as pd 
import numpy as np
import os

In [4]:
# df16 = [pd.read_csv(f) for f in glob.glob('./SA Feedback Surveys_FINAL/2016/*.csv')]

all_csvs = glob.glob(os.path.join('./SA Feedback Surveys_FINAL/2016/', "*.csv"))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

the_bad_thing = np.nan
type(the_bad_thing)

float

# To-Do List
- [ ] Check all columns to see if they have valid responses
- [ ] #REF! rows invalid
- [ ] Convert all string scors to int values
- [ ] Track, location vs popularity
- [ ] Understand from which region of the country students are most satisfied or dissatisfied

In [5]:
df['How likely is it that you would recommend the Make School Summer Academy to a friend?'].unique()

array([nan, 10.,  9.,  3.,  8.,  6.,  7.,  4.,  5.])

In [10]:
df['How likely is it that you would recommend the Make School Summer Academy to a friend?'].isna()

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
       ...
962    True
963    True
964    True
965    True
966    True
967    True
968    True
969    True
970    True
971    True
972    True
973    True
974    True
975    True
976    True
977    True
978    True
979    True
980    True
981    True
982    True
983    True
984    True
985    True
986    True
987    True
988    True
989    True
990    True
991    True
Name: How likely is it that you would recommend the Make School Summer Academy to a friend?, Length: 992, dtype: bool

In [6]:
df['How well is the schedule paced?'].unique()

array([3, 4, 1, 2, 5, nan, '2', '3', '4', '5', '#REF!'], dtype=object)

In [7]:
# Available tracks are Intro, Games, Apps and VR
df['What track are you in?'].unique()

array([nan, 'Intro', 'Games', 'Apps', 'VR', 'Average:'], dtype=object)

In [4]:
# Available locations are New York, San Francisco, Sunnyvale, Singapore and Los Angeles
df['location'].unique()

array([nan, 'New York', 'San Francisco', 'Sunnyvale', 'Singapore',
       'Los Angeles'], dtype=object)

In [5]:
df['How well are the tutorials paced?'].unique()

array([nan,  3.,  4.,  5.,  2.])

## Data Cleaning/Manipulation on the 2017 Data

In [283]:
path_2017 = "./SA Feedback Surveys_FINAL/2017/Student Feedback Surveys-Superview.csv"
data_2017 = pd.read_csv(path_2017)

### In order to ensure our empty data in our Schedule Pacing column does not contort our findings, we'll replace the NaNs with a "harmless" value with a datatype that matches the rest of our column.

In this case, since we want to convert our strings to ints, we'll turn our NaNs into ints outside of our expected useful range. 

Since we want to end up with a range of [1, 5], we'll give our NaN values a value of 0.

In [284]:
data_2017["Schedule Pacing"].unique()

array(['Just right', 'A little too fast', 'Way too slow',
       'A little too slow', 'Way too fast', nan], dtype=object)

## Clever Data Cleaning for _Scheduling Pacing_

In [285]:
def clean_schedule_pacing_2017(data_2017):
    """ Function designed to clean NaNs and convert strings to ints across Scheduling Pacing column of DF 2017. """
    pacing_map = {
        "Way too slow": 1,
        "A little too slow": 2,
        "Just right": 3,
        "A little too fast": 4,
        "Way too fast": 5
    }
    data_2017["Schedule Pacing"] = data_2017["Schedule Pacing"].replace(pacing_map).fillna(0).astype(int)
    return data_2017

## NOTE: Only call this function when cleaning newly initialized 2017 data.

In [286]:
data_2017 = clean_schedule_pacing_2017(data_2017)

In [287]:
data_2017["Schedule Pacing"].unique()

array([3, 4, 1, 2, 5, 0])

In [288]:
# unique_vals = set()

# for value in data_2017["Rating (Num)"]:
#     unique_vals.update([type(value)])

def replace_errors_in_ratings_2017(data_2017):
    arg_all_but_errors = (data_2017["Rating (Num)"] != "#ERROR!")
    data_2017 = data_2017[arg_all_but_errors]
    data_2017["Rating (Num)"] = data_2017["Rating (Num)"].astype(int)
    return data_2017

In [289]:
data_2017 = replace_errors_in_ratings_2017(data_2017)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [290]:
data_2017["Rating (Num)"].unique()

array([ 3,  4,  5,  6,  7,  8,  9, 10,  0,  1,  2])

In [291]:
data_2017["Week"].unique()

array(['Week 1', 'Week 2', 'Week 7', 'Week 3', 'Week 4', 'Week 5',
       'Week 6', 'Week 8'], dtype=object)

In [292]:
data_2017["Track"] = data_2017["Track"].fillna('Track')

In [293]:
data_2017["Track"].unique()

array(['Apps, Explorer', 'Apps', 'Games', 'Track', 'VR',
       'Games, Explorer'], dtype=object)

In [294]:
# df[(df['Sex'] == 'female')].Age.hist(bins=16)
data_2017[(data_2017["Track"] == 'Apps, Explorer')].count()

ID                 224
Location           224
Track              224
Week               224
Rating (Num)       224
Schedule Pacing    224
dtype: int64

In [295]:
data_2017.head()

    ID       Location           Track    Week  Rating (Num)  Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1             3                3
1   36    Los Angeles            Apps  Week 1             4                4
2  117  San Francisco           Games  Week 1             4                1
3  253            NaN           Track  Week 2             4                4
4  350  New York City  Apps, Explorer  Week 1             4                3

In [296]:
data_2017["Location"].unique()

array(['San Francisco', 'Los Angeles', nan, 'New York City',
       'Redwood City', 'Santa Clara', 'Oakland', 'Washington DC',
       'Chicago', 'Atlanta', 'Hong Kong', 'Beijing', 'Tokyo'],
      dtype=object)

In [297]:
data_2017["Location"] = data_2017["Location"].fillna('Location')

In [298]:
data_2017["ID"].unique()

array([ 134,   36,  117, ..., 1497, 1498, 1499])

In [299]:
# pd.isnull(df.Age).sum()
pd.isnull(data_2017.ID).sum()

0

In [300]:
data_2017.head()

    ID       Location           Track    Week  Rating (Num)  Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1             3                3
1   36    Los Angeles            Apps  Week 1             4                4
2  117  San Francisco           Games  Week 1             4                1
3  253       Location           Track  Week 2             4                4
4  350  New York City  Apps, Explorer  Week 1             4                3

## Data Cleaning/Manipulation on the 2017 Week 8 Data

In [301]:
csv_2016 = glob.glob(os.path.join('./SA Feedback Surveys_FINAL/2016/', "*.csv"))
read_all_csvs = (pd.read_csv(f) for f in csv_2016)
data_2016 = pd.concat(read_all_csvs, ignore_index = True, sort = True)

# path_2016 = "./SA Feedback Surveys_FINAL/2016/*.csv"
# data_2016 = pd.read_csv(path_2016)

In [302]:
data_2016

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,3,8/5/2016 1:39:41,NaN,NaN
1,NaN,3,4,8/5/2016 1:40:47,NaN,NaN
2,NaN,3,4,8/5/2016 1:40:50,NaN,NaN
3,NaN,4,4,8/5/2016 1:42:44,NaN,NaN
4,NaN,4,5,8/5/2016 1:45:13,NaN,NaN
5,NaN,3,4,8/5/2016 1:45:39,NaN,NaN
6,NaN,3,4,8/5/2016 1:49:21,NaN,NaN
7,NaN,3,5,8/8/2016 1:30:34,NaN,NaN
8,NaN,3,5,8/8/2016 1:33:45,NaN,NaN
9,NaN,3,5,8/8/2016 1:49:29,NaN,NaN
10,NaN,3,3,8/8/2016 1:51:00,NaN,NaN
11,NaN,4,3,7/31/2016 1:04:57,NaN,NaN
12,NaN,3,4,7/31/2016 3:38:14,NaN,NaN
13,NaN,1,4,7/31/2016 3:59:43,NaN,NaN
14,NaN,2,4,7/31/2016 4:19:51,NaN,NaN
15,NaN,4,5,7/31/2016 5:14:20,NaN,NaN
16,NaN,3,3,7/31/2016 6:50:12,NaN,NaN
17,NaN,5,5,7/31/2016 15:23:52,NaN,NaN
18,NaN,2,4,7/31/2016 16:49:45,NaN,NaN
19,NaN,4,3,8/1/2016 1:18:47,NaN,NaN
20,NaN,3,5,8/1/2016 1:30:17,NaN,NaN
21,NaN,3,5,8/1/2016 1:30:17,NaN,NaN
22,NaN,4,4,8/1/2016 6:15:10,NaN,NaN
23,NaN,3,4,8/1/2016 7:56:08,NaN,NaN
24,3.0,NaN,2,6/23/2016 22:24:53,NaN,NaN
25,3.0,NaN,2,6/27/2016 4:03:03,NaN,NaN
26,3.0,NaN,3,6/23/2016 22:13:04,NaN,NaN
27,4.0,NaN,4,6/23/2016 22:09:23,NaN,NaN
28,4.0,NaN,4,6/23/2016 22:11:39,NaN,NaN
29,4.0,NaN,4,6/23/2016 22:11:44,NaN,NaN
...,...,...,...,...,...,...
897,NaN,4,3,7/8/2016 16:40:10,NaN,Apps
898,NaN,4,4,7/8/2016 13:58:12,NaN,Apps
899,NaN,4,3,7/8/2016 13:53:19,NaN,Apps
900,NaN,2,3,7/8/2016 15:59:30,NaN,Apps
901,NaN,4,5,7/8/2016 16:11:32,NaN,Apps
902,NaN,5,5,7/8/2016 12:49:05,NaN,Games
903,NaN,3,4,7/8/2016 12:49:16,NaN,Games
904,NaN,3,5,7/8/2016 12:47:42,NaN,Games
905,NaN,3,5,7/8/2016 12:43:44,NaN,Intro
906,NaN,3,4,7/8/2016 13:55:51,NaN,Apps
907,NaN,3,5,7/8/2016 14:02:54,NaN,Games
908,NaN,3,5,7/8/2016 14:29:22,NaN,Games
909,NaN,2,5,7/9/2016 17:05:33,NaN,Games
910,NaN,3,3,7/8/2016 16:55:21,NaN,Apps
911,NaN,3,3,7/8/2016 16:08:13,NaN,Games
912,NaN,3,4,7/8/2016 13:56:39,NaN,Apps
913,NaN,2,4,7/8/2016 14:03:35,NaN,Apps
914,NaN,5,4,7/8/2016 13:51:14,NaN,Games
915,NaN,4,4,7/8/2016 12:41:10,NaN,Intro
916,NaN,4,4,7/8/2016 12:41:13,NaN,Intro
917,NaN,3,4,7/8/2016 12:41:51,NaN,Intro
918,NaN,3,4,7/8/2016 12:43:35,NaN,Intro
919,NaN,3,4,7/8/2016 12:45:11,NaN,Intro
920,NaN,3,4,7/8/2016 12:47:39,NaN,Intro
921,NaN,4,4,7/8/2016 13:01:58,NaN,Intro
922,NaN,4,4,7/10/2016 23:44:41,NaN,Games
923,NaN,#REF!,#REF!,NaN,NaN,Average:
924,NaN,3,5,7/8/2016 16:41:06,NaN,Apps
925,NaN,3,5,7/8/2016 13:07:39,NaN,Games
926,NaN,3,5,7/8/2016 12:45:02,NaN,Intro

In [303]:
def replace_errors_in_ratings_2016(data_2016):
    arg_all_but_errors = (data_2016["How well is the schedule paced?"] != "#REF!")
    data_2016 = data_2016[arg_all_but_errors]
    return data_2016

In [304]:
data_2016 = replace_errors_in_ratings_2016(data_2016)

In [305]:
data_2016

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,3,8/5/2016 1:39:41,NaN,NaN
1,NaN,3,4,8/5/2016 1:40:47,NaN,NaN
2,NaN,3,4,8/5/2016 1:40:50,NaN,NaN
3,NaN,4,4,8/5/2016 1:42:44,NaN,NaN
4,NaN,4,5,8/5/2016 1:45:13,NaN,NaN
5,NaN,3,4,8/5/2016 1:45:39,NaN,NaN
6,NaN,3,4,8/5/2016 1:49:21,NaN,NaN
7,NaN,3,5,8/8/2016 1:30:34,NaN,NaN
8,NaN,3,5,8/8/2016 1:33:45,NaN,NaN
9,NaN,3,5,8/8/2016 1:49:29,NaN,NaN
10,NaN,3,3,8/8/2016 1:51:00,NaN,NaN
11,NaN,4,3,7/31/2016 1:04:57,NaN,NaN
12,NaN,3,4,7/31/2016 3:38:14,NaN,NaN
13,NaN,1,4,7/31/2016 3:59:43,NaN,NaN
14,NaN,2,4,7/31/2016 4:19:51,NaN,NaN
15,NaN,4,5,7/31/2016 5:14:20,NaN,NaN
16,NaN,3,3,7/31/2016 6:50:12,NaN,NaN
17,NaN,5,5,7/31/2016 15:23:52,NaN,NaN
18,NaN,2,4,7/31/2016 16:49:45,NaN,NaN
19,NaN,4,3,8/1/2016 1:18:47,NaN,NaN
20,NaN,3,5,8/1/2016 1:30:17,NaN,NaN
21,NaN,3,5,8/1/2016 1:30:17,NaN,NaN
22,NaN,4,4,8/1/2016 6:15:10,NaN,NaN
23,NaN,3,4,8/1/2016 7:56:08,NaN,NaN
24,3.0,NaN,2,6/23/2016 22:24:53,NaN,NaN
25,3.0,NaN,2,6/27/2016 4:03:03,NaN,NaN
26,3.0,NaN,3,6/23/2016 22:13:04,NaN,NaN
27,4.0,NaN,4,6/23/2016 22:09:23,NaN,NaN
28,4.0,NaN,4,6/23/2016 22:11:39,NaN,NaN
29,4.0,NaN,4,6/23/2016 22:11:44,NaN,NaN
...,...,...,...,...,...,...
896,NaN,4,4,7/8/2016 14:03:46,NaN,Apps
897,NaN,4,3,7/8/2016 16:40:10,NaN,Apps
898,NaN,4,4,7/8/2016 13:58:12,NaN,Apps
899,NaN,4,3,7/8/2016 13:53:19,NaN,Apps
900,NaN,2,3,7/8/2016 15:59:30,NaN,Apps
901,NaN,4,5,7/8/2016 16:11:32,NaN,Apps
902,NaN,5,5,7/8/2016 12:49:05,NaN,Games
903,NaN,3,4,7/8/2016 12:49:16,NaN,Games
904,NaN,3,5,7/8/2016 12:47:42,NaN,Games
905,NaN,3,5,7/8/2016 12:43:44,NaN,Intro
906,NaN,3,4,7/8/2016 13:55:51,NaN,Apps
907,NaN,3,5,7/8/2016 14:02:54,NaN,Games
908,NaN,3,5,7/8/2016 14:29:22,NaN,Games
909,NaN,2,5,7/9/2016 17:05:33,NaN,Games
910,NaN,3,3,7/8/2016 16:55:21,NaN,Apps
911,NaN,3,3,7/8/2016 16:08:13,NaN,Games
912,NaN,3,4,7/8/2016 13:56:39,NaN,Apps
913,NaN,2,4,7/8/2016 14:03:35,NaN,Apps
914,NaN,5,4,7/8/2016 13:51:14,NaN,Games
915,NaN,4,4,7/8/2016 12:41:10,NaN,Intro
916,NaN,4,4,7/8/2016 12:41:13,NaN,Intro
917,NaN,3,4,7/8/2016 12:41:51,NaN,Intro
918,NaN,3,4,7/8/2016 12:43:35,NaN,Intro
919,NaN,3,4,7/8/2016 12:45:11,NaN,Intro
920,NaN,3,4,7/8/2016 12:47:39,NaN,Intro
921,NaN,4,4,7/8/2016 13:01:58,NaN,Intro
922,NaN,4,4,7/10/2016 23:44:41,NaN,Games
924,NaN,3,5,7/8/2016 16:41:06,NaN,Apps
925,NaN,3,5,7/8/2016 13:07:39,NaN,Games
926,NaN,3,5,7/8/2016 12:45:02,NaN,Intro

In [306]:
data_2016.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,3,8/5/2016 1:39:41,NaN,NaN
1,NaN,3,4,8/5/2016 1:40:47,NaN,NaN
2,NaN,3,4,8/5/2016 1:40:50,NaN,NaN
3,NaN,4,4,8/5/2016 1:42:44,NaN,NaN
4,NaN,4,5,8/5/2016 1:45:13,NaN,NaN

In [307]:
data_2017.head()

    ID       Location           Track    Week  Rating (Num)  Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1             3                3
1   36    Los Angeles            Apps  Week 1             4                4
2  117  San Francisco           Games  Week 1             4                1
3  253       Location           Track  Week 2             4                4
4  350  New York City  Apps, Explorer  Week 1             4                3

In [308]:
# Remove columns with no real information
data_2016 = data_2016.drop(["Unnamed: 0"], axis=1)

In [309]:
data_2016.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,NaN,3,3,8/5/2016 1:39:41,NaN
1,NaN,3,4,8/5/2016 1:40:47,NaN
2,NaN,3,4,8/5/2016 1:40:50,NaN
3,NaN,4,4,8/5/2016 1:42:44,NaN
4,NaN,4,5,8/5/2016 1:45:13,NaN

In [310]:
data_2016["What track are you in?"].unique()

array([nan, 'Intro', 'Games', 'Apps', 'VR'], dtype=object)

In [311]:
# data_2016["How likely is it that you would recommend the Make School Summer Academy to a friend?"] = data_2016["How likely is it that you would recommend the Make School Summer Academy to a friend?"].fillna("0").astype(int)

In [312]:
data_2016["How well are the tutorials paced?"] = data_2016["How well are the tutorials paced?"].fillna(0).astype(int)

In [313]:
data_2016["How well is the schedule paced?"] = data_2016["How well are the tutorials paced?"].fillna(0).astype(int)

In [314]:
data_2016["How would you rate your overall satisfaction with the Summer Academy this week?"] = data_2016["How would you rate your overall satisfaction with the Summer Academy this week?"].fillna(0).astype(int)

In [315]:
data_2016

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,0,0,3,8/5/2016 1:39:41,NaN
1,0,0,4,8/5/2016 1:40:47,NaN
2,0,0,4,8/5/2016 1:40:50,NaN
3,0,0,4,8/5/2016 1:42:44,NaN
4,0,0,5,8/5/2016 1:45:13,NaN
5,0,0,4,8/5/2016 1:45:39,NaN
6,0,0,4,8/5/2016 1:49:21,NaN
7,0,0,5,8/8/2016 1:30:34,NaN
8,0,0,5,8/8/2016 1:33:45,NaN
9,0,0,5,8/8/2016 1:49:29,NaN
10,0,0,3,8/8/2016 1:51:00,NaN
11,0,0,3,7/31/2016 1:04:57,NaN
12,0,0,4,7/31/2016 3:38:14,NaN
13,0,0,4,7/31/2016 3:59:43,NaN
14,0,0,4,7/31/2016 4:19:51,NaN
15,0,0,5,7/31/2016 5:14:20,NaN
16,0,0,3,7/31/2016 6:50:12,NaN
17,0,0,5,7/31/2016 15:23:52,NaN
18,0,0,4,7/31/2016 16:49:45,NaN
19,0,0,3,8/1/2016 1:18:47,NaN
20,0,0,5,8/1/2016 1:30:17,NaN
21,0,0,5,8/1/2016 1:30:17,NaN
22,0,0,4,8/1/2016 6:15:10,NaN
23,0,0,4,8/1/2016 7:56:08,NaN
24,3,3,2,6/23/2016 22:24:53,NaN
25,3,3,2,6/27/2016 4:03:03,NaN
26,3,3,3,6/23/2016 22:13:04,NaN
27,4,4,4,6/23/2016 22:09:23,NaN
28,4,4,4,6/23/2016 22:11:39,NaN
29,4,4,4,6/23/2016 22:11:44,NaN
...,...,...,...,...,...
896,0,0,4,7/8/2016 14:03:46,Apps
897,0,0,3,7/8/2016 16:40:10,Apps
898,0,0,4,7/8/2016 13:58:12,Apps
899,0,0,3,7/8/2016 13:53:19,Apps
900,0,0,3,7/8/2016 15:59:30,Apps
901,0,0,5,7/8/2016 16:11:32,Apps
902,0,0,5,7/8/2016 12:49:05,Games
903,0,0,4,7/8/2016 12:49:16,Games
904,0,0,5,7/8/2016 12:47:42,Games
905,0,0,5,7/8/2016 12:43:44,Intro
906,0,0,4,7/8/2016 13:55:51,Apps
907,0,0,5,7/8/2016 14:02:54,Games
908,0,0,5,7/8/2016 14:29:22,Games
909,0,0,5,7/9/2016 17:05:33,Games
910,0,0,3,7/8/2016 16:55:21,Apps
911,0,0,3,7/8/2016 16:08:13,Games
912,0,0,4,7/8/2016 13:56:39,Apps
913,0,0,4,7/8/2016 14:03:35,Apps
914,0,0,4,7/8/2016 13:51:14,Games
915,0,0,4,7/8/2016 12:41:10,Intro
916,0,0,4,7/8/2016 12:41:13,Intro
917,0,0,4,7/8/2016 12:41:51,Intro
918,0,0,4,7/8/2016 12:43:35,Intro
919,0,0,4,7/8/2016 12:45:11,Intro
920,0,0,4,7/8/2016 12:47:39,Intro
921,0,0,4,7/8/2016 13:01:58,Intro
922,0,0,4,7/10/2016 23:44:41,Games
924,0,0,5,7/8/2016 16:41:06,Apps
925,0,0,5,7/8/2016 13:07:39,Games
926,0,0,5,7/8/2016 12:45:02,Intro

In [316]:
# data_2016["track"].unique()

In [317]:
data_2016["What track are you in?"] = data_2016["What track are you in?"].fillna("Track")

In [318]:
data_2016.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,0,0,3,8/5/2016 1:39:41,Track
1,0,0,4,8/5/2016 1:40:47,Track
2,0,0,4,8/5/2016 1:40:50,Track
3,0,0,4,8/5/2016 1:42:44,Track
4,0,0,5,8/5/2016 1:45:13,Track

In [319]:
data_2016["Timestamp"] = data_2016["Timestamp"].fillna("Timestamp")

In [320]:
data_2016["Timestamp"].isna().sum()

0

In [321]:
data_2016.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,0,0,3,8/5/2016 1:39:41,Track
1,0,0,4,8/5/2016 1:40:47,Track
2,0,0,4,8/5/2016 1:40:50,Track
3,0,0,4,8/5/2016 1:42:44,Track
4,0,0,5,8/5/2016 1:45:13,Track

In [322]:
data_2017.head()

    ID       Location           Track    Week  Rating (Num)  Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1             3                3
1   36    Los Angeles            Apps  Week 1             4                4
2  117  San Francisco           Games  Week 1             4                1
3  253       Location           Track  Week 2             4                4
4  350  New York City  Apps, Explorer  Week 1             4                3

In [323]:
# df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

data_2016.rename(columns={
    "How well are the tutorials paced?": "Tutorial Pacing",
    "How well is the schedule paced?": "Schedule Pacing",
    "How would you rate your overall satisfaction with the Summer Academy this week?": "Week Rating",
    "What track are you in?": "Track"
}, inplace=True)

In [324]:
data_2017.rename(columns={
    "Rating (Num)": "Week Rating"
}, inplace=True)

In [325]:
# pd.merge(adf, bdf, how='left')

df16_17 = pd.merge(data_2016, data_2017, how='left')

In [326]:
df16_17.head()

,Tutorial Pacing,Schedule Pacing,Week Rating,Timestamp,Track,ID,Location,Week
0,0,0,3,8/5/2016 1:39:41,Track,NaN,NaN,NaN
1,0,0,4,8/5/2016 1:40:47,Track,NaN,NaN,NaN
2,0,0,4,8/5/2016 1:40:50,Track,NaN,NaN,NaN
3,0,0,4,8/5/2016 1:42:44,Track,NaN,NaN,NaN
4,0,0,5,8/5/2016 1:45:13,Track,NaN,NaN,NaN

In [327]:
# data_2016 = data_2016.drop(["Unnamed: 0"], axis=1)
df16_17 = df16_17.drop(["ID"], axis=1)

In [328]:
df16_17["Location"] = df16_17["Location"].fillna("Location")

In [329]:
df16_17["Location"].unique()

array(['Location', 'San Francisco', 'New York City', 'Tokyo',
       'Los Angeles', 'Santa Clara', 'Redwood City', 'Oakland',
       'Washington DC'], dtype=object)

In [330]:
df16_17["Week"] = df16_17["Week"].fillna("NoWeek")

In [331]:
df16_17["Week"].unique()

array(['NoWeek', 'Week 2', 'Week 5', 'Week 4', 'Week 6', 'Week 7',
       'Week 3', 'Week 1'], dtype=object)

In [332]:
df16_17.head()

,Tutorial Pacing,Schedule Pacing,Week Rating,Timestamp,Track,Location,Week
0,0,0,3,8/5/2016 1:39:41,Track,Location,NoWeek
1,0,0,4,8/5/2016 1:40:47,Track,Location,NoWeek
2,0,0,4,8/5/2016 1:40:50,Track,Location,NoWeek
3,0,0,4,8/5/2016 1:42:44,Track,Location,NoWeek
4,0,0,5,8/5/2016 1:45:13,Track,Location,NoWeek

In [333]:
path_week8 = "./SA Feedback Surveys_FINAL/Week 8 Feedback (2016, incomplete) - results.csv"
data_week8 = pd.read_csv(path_week8)

In [334]:
data_week8 = data_week8.drop(["#", "Network ID"], axis=1)

In [281]:
data_week8

,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track,Start Date (UTC),Submit Date (UTC)
0,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04
1,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04
2,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05
3,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06
4,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11
5,10,San Francisco,summerApps,9/7/16 1:09,9/7/16 1:13
6,8,San Francisco,summerApps,9/7/16 1:04,9/7/16 1:14
7,3,New York,summerGames,9/7/16 1:14,9/7/16 1:15
8,6,Singapore,summerApps,9/7/16 1:16,9/7/16 1:21
9,9,New York,summerGames,9/7/16 1:22,9/7/16 1:27
10,10,Sunnyvale,summerGames,9/7/16 1:28,9/7/16 1:29
11,10,San Francisco,summerVR,9/7/16 1:22,9/7/16 1:33
12,8,San Francisco,summerIntro,9/7/16 1:30,9/7/16 1:36
13,8,Sunnyvale,summerApps,9/7/16 1:47,9/7/16 1:50
14,8,Los Angeles,summerGames,9/7/16 1:34,9/7/16 1:51
15,10,San Francisco,summerApps,9/7/16 2:28,9/7/16 2:33
16,9,Sunnyvale,summerGames,9/7/16 2:39,9/7/16 2:41
17,10,New York,summerGames,9/7/16 2:39,9/7/16 2:43
18,7,Singapore,summerApps,9/7/16 2:47,9/7/16 2:50
19,10,San Francisco,summerIntro,9/7/16 2:56,9/7/16 2:56
20,10,San Francisco,summerApps,9/7/16 2:58,9/7/16 2:59
21,10,Sunnyvale,summerGames,9/7/16 2:59,9/7/16 3:01
22,4,New York,summerIntro,9/7/16 3:05,9/7/16 3:08
23,9,San Francisco,summerGames,9/7/16 3:22,9/7/16 3:31
24,10,Sunnyvale,summerGames,9/7/16 3:15,9/7/16 3:31
25,9,Sunnyvale,summerApps,9/7/16 3:41,9/7/16 3:42
26,10,San Francisco,summerIntro,9/7/16 4:04,9/7/16 4:05
27,10,Sunnyvale,summerApps,9/7/16 4:07,9/7/16 4:10
28,7,Sunnyvale,summerGames,9/7/16 4:20,9/7/16 4:21
29,10,San Francisco,summerGames,9/7/16 5:41,9/7/16 5:43
...,...,...,...,...,...
35,9,Singapore,summerApps,9/7/16 12:26,9/7/16 12:26
36,10,San Francisco,summerApps,9/7/16 12:45,9/7/16 12:48
37,10,New York,summerIntro,9/7/16 13:09,9/7/16 13:10
38,9,San Francisco,summerApps (4-week),9/7/16 14:39,9/7/16 14:40
39,10,New York,summerApps,9/7/16 14:52,9/7/16 14:54
40,8,Sunnyvale,summerApps,9/7/16 15:57,9/7/16 15:58
41,10,San Francisco,summerApps,9/7/16 17:11,9/7/16 17:21
42,9,San Francisco,summerVR,9/7/16 19:13,9/7/16 19:25
43,7,New York,summerApps (4-week),9/7/16 19:23,9/7/16 19:26
44,10,San Francisco,summerApps,9/7/16 19:39,9/7/16 19:40
45,10,Los Angeles,summerGames,9/7/16 19:51,9/7/16 19:57
46,10,Sunnyvale,summerIntro,9/7/16 23:58,9/8/16 0:00
47,8,New York,summerApps,9/8/16 0:50,9/8/16 0:58
48,10,San Francisco,summerGames,9/8/16 1:55,9/8/16 1:59
49,7,Sunnyvale,summerApps,9/8/16 5:59,9/8/16 6:04
50,10,Los Angeles,summerGames (4-week),9/8/16 14:25,9/8/16 14:27
51,8,San Francisco,summerGames,9/8/16 22:00,9/8/16 22:06
52,8,New York,summerApps,9/8/16 22:16,9/8/16 22:20
53,10,San Francisco,summerApps,9/8/16 23:06,9/8/16 23:07
54,7,San Francisco,summerApps,9/8/16 23:01,9/8/16 23:11
55,7,San Francisco,summerIntro,9/9/16 1:41,9/9/16 1:42
56,10,San Francisco,summerIntro,9/9/16 4:22,9/9/16 4:25
57,9,San Francisco,summerApps,9/9/16 11:06,9/9/16 11:09
58,10,New York,summerGames,9/9/16 13:24,9/9/16 13:28
59,8,San Francisco,summerGames,9/10/16 22:28,9/10/16 22:30
60,9,San Francisco,summerApps,9/12/16 0:05,9/12/16 0:13
61,5,San Francisco,summerVR,9/13/16 4:36,9/13/16 4:42
62,10,San Francisco,summerGames (4-week),9/7/16 5:08,9/13/16 20:13
63,9,San Francisco,summerIntro,9/14/16 12:04,9/14/16 12:10
64,9,Sunnyvale,summerGames,9/26/16 16:33,9/26/16 16:34

In [335]:
data_week8.rename(columns={
    "How likely is it that you would recommend the Make School Summer Academy to a friend?": "Overall Rating",
    "location": "Location",
    "track": "Track"
}, inplace=True)

In [336]:
data_week8

,Overall Rating,Location,Track,Start Date (UTC),Submit Date (UTC)
0,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04
1,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04
2,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05
3,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06
4,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11
5,10,San Francisco,summerApps,9/7/16 1:09,9/7/16 1:13
6,8,San Francisco,summerApps,9/7/16 1:04,9/7/16 1:14
7,3,New York,summerGames,9/7/16 1:14,9/7/16 1:15
8,6,Singapore,summerApps,9/7/16 1:16,9/7/16 1:21
9,9,New York,summerGames,9/7/16 1:22,9/7/16 1:27
10,10,Sunnyvale,summerGames,9/7/16 1:28,9/7/16 1:29
11,10,San Francisco,summerVR,9/7/16 1:22,9/7/16 1:33
12,8,San Francisco,summerIntro,9/7/16 1:30,9/7/16 1:36
13,8,Sunnyvale,summerApps,9/7/16 1:47,9/7/16 1:50
14,8,Los Angeles,summerGames,9/7/16 1:34,9/7/16 1:51
15,10,San Francisco,summerApps,9/7/16 2:28,9/7/16 2:33
16,9,Sunnyvale,summerGames,9/7/16 2:39,9/7/16 2:41
17,10,New York,summerGames,9/7/16 2:39,9/7/16 2:43
18,7,Singapore,summerApps,9/7/16 2:47,9/7/16 2:50
19,10,San Francisco,summerIntro,9/7/16 2:56,9/7/16 2:56
20,10,San Francisco,summerApps,9/7/16 2:58,9/7/16 2:59
21,10,Sunnyvale,summerGames,9/7/16 2:59,9/7/16 3:01
22,4,New York,summerIntro,9/7/16 3:05,9/7/16 3:08
23,9,San Francisco,summerGames,9/7/16 3:22,9/7/16 3:31
24,10,Sunnyvale,summerGames,9/7/16 3:15,9/7/16 3:31
25,9,Sunnyvale,summerApps,9/7/16 3:41,9/7/16 3:42
26,10,San Francisco,summerIntro,9/7/16 4:04,9/7/16 4:05
27,10,Sunnyvale,summerApps,9/7/16 4:07,9/7/16 4:10
28,7,Sunnyvale,summerGames,9/7/16 4:20,9/7/16 4:21
29,10,San Francisco,summerGames,9/7/16 5:41,9/7/16 5:43
...,...,...,...,...,...
35,9,Singapore,summerApps,9/7/16 12:26,9/7/16 12:26
36,10,San Francisco,summerApps,9/7/16 12:45,9/7/16 12:48
37,10,New York,summerIntro,9/7/16 13:09,9/7/16 13:10
38,9,San Francisco,summerApps (4-week),9/7/16 14:39,9/7/16 14:40
39,10,New York,summerApps,9/7/16 14:52,9/7/16 14:54
40,8,Sunnyvale,summerApps,9/7/16 15:57,9/7/16 15:58
41,10,San Francisco,summerApps,9/7/16 17:11,9/7/16 17:21
42,9,San Francisco,summerVR,9/7/16 19:13,9/7/16 19:25
43,7,New York,summerApps (4-week),9/7/16 19:23,9/7/16 19:26
44,10,San Francisco,summerApps,9/7/16 19:39,9/7/16 19:40
45,10,Los Angeles,summerGames,9/7/16 19:51,9/7/16 19:57
46,10,Sunnyvale,summerIntro,9/7/16 23:58,9/8/16 0:00
47,8,New York,summerApps,9/8/16 0:50,9/8/16 0:58
48,10,San Francisco,summerGames,9/8/16 1:55,9/8/16 1:59
49,7,Sunnyvale,summerApps,9/8/16 5:59,9/8/16 6:04
50,10,Los Angeles,summerGames (4-week),9/8/16 14:25,9/8/16 14:27
51,8,San Francisco,summerGames,9/8/16 22:00,9/8/16 22:06
52,8,New York,summerApps,9/8/16 22:16,9/8/16 22:20
53,10,San Francisco,summerApps,9/8/16 23:06,9/8/16 23:07
54,7,San Francisco,summerApps,9/8/16 23:01,9/8/16 23:11
55,7,San Francisco,summerIntro,9/9/16 1:41,9/9/16 1:42
56,10,San Francisco,summerIntro,9/9/16 4:22,9/9/16 4:25
57,9,San Francisco,summerApps,9/9/16 11:06,9/9/16 11:09
58,10,New York,summerGames,9/9/16 13:24,9/9/16 13:28
59,8,San Francisco,summerGames,9/10/16 22:28,9/10/16 22:30
60,9,San Francisco,summerApps,9/12/16 0:05,9/12/16 0:13
61,5,San Francisco,summerVR,9/13/16 4:36,9/13/16 4:42
62,10,San Francisco,summerGames (4-week),9/7/16 5:08,9/13/16 20:13
63,9,San Francisco,summerIntro,9/14/16 12:04,9/14/16 12:10
64,9,Sunnyvale,summerGames,9/26/16 16:33,9/26/16 16:34

In [342]:
# w.female[w.female == 'female'] = 1
data_week8.Track[data_week8.Track == 'summerGames'] = 'Games'
data_week8.Track[data_week8.Track == 'summerApps'] = 'Apps'
data_week8.Track[data_week8.Track == 'summerIntro'] = 'Intro'
data_week8.Track[data_week8.Track == 'summerVR'] = 'VR'
data_week8.Track[data_week8.Track == 'summerGames (4-week)'] = 'Games (4-week)'
data_week8.Track[data_week8.Track == 'summerApps (4-week)'] = 'Apps (4-week)'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [343]:
data_week8

,Overall Rating,Location,Track,Start Date (UTC),Submit Date (UTC)
0,10,New York,Apps,9/7/16 1:03,9/7/16 1:04
1,10,San Francisco,Intro,9/7/16 1:03,9/7/16 1:04
2,10,New York,Intro,9/7/16 1:03,9/7/16 1:05
3,9,Sunnyvale,Apps (4-week),9/7/16 1:04,9/7/16 1:06
4,3,San Francisco,Intro,9/7/16 1:04,9/7/16 1:11
5,10,San Francisco,Apps,9/7/16 1:09,9/7/16 1:13
6,8,San Francisco,Apps,9/7/16 1:04,9/7/16 1:14
7,3,New York,Games,9/7/16 1:14,9/7/16 1:15
8,6,Singapore,Apps,9/7/16 1:16,9/7/16 1:21
9,9,New York,Games,9/7/16 1:22,9/7/16 1:27
10,10,Sunnyvale,Games,9/7/16 1:28,9/7/16 1:29
11,10,San Francisco,VR,9/7/16 1:22,9/7/16 1:33
12,8,San Francisco,Intro,9/7/16 1:30,9/7/16 1:36
13,8,Sunnyvale,Apps,9/7/16 1:47,9/7/16 1:50
14,8,Los Angeles,Games,9/7/16 1:34,9/7/16 1:51
15,10,San Francisco,Apps,9/7/16 2:28,9/7/16 2:33
16,9,Sunnyvale,Games,9/7/16 2:39,9/7/16 2:41
17,10,New York,Games,9/7/16 2:39,9/7/16 2:43
18,7,Singapore,Apps,9/7/16 2:47,9/7/16 2:50
19,10,San Francisco,Intro,9/7/16 2:56,9/7/16 2:56
20,10,San Francisco,Apps,9/7/16 2:58,9/7/16 2:59
21,10,Sunnyvale,Games,9/7/16 2:59,9/7/16 3:01
22,4,New York,Intro,9/7/16 3:05,9/7/16 3:08
23,9,San Francisco,Games,9/7/16 3:22,9/7/16 3:31
24,10,Sunnyvale,Games,9/7/16 3:15,9/7/16 3:31
25,9,Sunnyvale,Apps,9/7/16 3:41,9/7/16 3:42
26,10,San Francisco,Intro,9/7/16 4:04,9/7/16 4:05
27,10,Sunnyvale,Apps,9/7/16 4:07,9/7/16 4:10
28,7,Sunnyvale,Games,9/7/16 4:20,9/7/16 4:21
29,10,San Francisco,Games,9/7/16 5:41,9/7/16 5:43
...,...,...,...,...,...
35,9,Singapore,Apps,9/7/16 12:26,9/7/16 12:26
36,10,San Francisco,Apps,9/7/16 12:45,9/7/16 12:48
37,10,New York,Intro,9/7/16 13:09,9/7/16 13:10
38,9,San Francisco,Apps (4-week),9/7/16 14:39,9/7/16 14:40
39,10,New York,Apps,9/7/16 14:52,9/7/16 14:54
40,8,Sunnyvale,Apps,9/7/16 15:57,9/7/16 15:58
41,10,San Francisco,Apps,9/7/16 17:11,9/7/16 17:21
42,9,San Francisco,VR,9/7/16 19:13,9/7/16 19:25
43,7,New York,Apps (4-week),9/7/16 19:23,9/7/16 19:26
44,10,San Francisco,Apps,9/7/16 19:39,9/7/16 19:40
45,10,Los Angeles,Games,9/7/16 19:51,9/7/16 19:57
46,10,Sunnyvale,Intro,9/7/16 23:58,9/8/16 0:00
47,8,New York,Apps,9/8/16 0:50,9/8/16 0:58
48,10,San Francisco,Games,9/8/16 1:55,9/8/16 1:59
49,7,Sunnyvale,Apps,9/8/16 5:59,9/8/16 6:04
50,10,Los Angeles,Games (4-week),9/8/16 14:25,9/8/16 14:27
51,8,San Francisco,Games,9/8/16 22:00,9/8/16 22:06
52,8,New York,Apps,9/8/16 22:16,9/8/16 22:20
53,10,San Francisco,Apps,9/8/16 23:06,9/8/16 23:07
54,7,San Francisco,Apps,9/8/16 23:01,9/8/16 23:11
55,7,San Francisco,Intro,9/9/16 1:41,9/9/16 1:42
56,10,San Francisco,Intro,9/9/16 4:22,9/9/16 4:25
57,9,San Francisco,Apps,9/9/16 11:06,9/9/16 11:09
58,10,New York,Games,9/9/16 13:24,9/9/16 13:28
59,8,San Francisco,Games,9/10/16 22:28,9/10/16 22:30
60,9,San Francisco,Apps,9/12/16 0:05,9/12/16 0:13
61,5,San Francisco,VR,9/13/16 4:36,9/13/16 4:42
62,10,San Francisco,Games (4-week),9/7/16 5:08,9/13/16 20:13
63,9,San Francisco,Intro,9/14/16 12:04,9/14/16 12:10
64,9,Sunnyvale,Games,9/26/16 16:33,9/26/16 16:34

In [344]:
df16_17.head()

,Tutorial Pacing,Schedule Pacing,Week Rating,Timestamp,Track,Location,Week
0,0,0,3,8/5/2016 1:39:41,Track,Location,NoWeek
1,0,0,4,8/5/2016 1:40:47,Track,Location,NoWeek
2,0,0,4,8/5/2016 1:40:50,Track,Location,NoWeek
3,0,0,4,8/5/2016 1:42:44,Track,Location,NoWeek
4,0,0,5,8/5/2016 1:45:13,Track,Location,NoWeek

In [345]:
df16_17["Timestamp"].unique()

array(['8/5/2016 1:39:41', '8/5/2016 1:40:47', '8/5/2016 1:40:50',
       '8/5/2016 1:42:44', '8/5/2016 1:45:13', '8/5/2016 1:45:39',
       '8/5/2016 1:49:21', '8/8/2016 1:30:34', '8/8/2016 1:33:45',
       '8/8/2016 1:49:29', '8/8/2016 1:51:00', '7/31/2016 1:04:57',
       '7/31/2016 3:38:14', '7/31/2016 3:59:43', '7/31/2016 4:19:51',
       '7/31/2016 5:14:20', '7/31/2016 6:50:12', '7/31/2016 15:23:52',
       '7/31/2016 16:49:45', '8/1/2016 1:18:47', '8/1/2016 1:30:17',
       '8/1/2016 6:15:10', '8/1/2016 7:56:08', '6/23/2016 22:24:53',
       '6/27/2016 4:03:03', '6/23/2016 22:13:04', '6/23/2016 22:09:23',
       '6/23/2016 22:11:39', '6/23/2016 22:11:44', '6/23/2016 22:13:25',
       '6/23/2016 22:15:33', '6/23/2016 22:41:02', '6/23/2016 23:56:36',
       '6/25/2016 22:17:48', '6/23/2016 22:13:09', '8/5/2016 11:22:50',
       '8/5/2016 11:23:13', '8/5/2016 11:24:20', '8/5/2016 11:29:26',
       '8/5/2016 11:31:08', '8/5/2016 11:57:53', '8/5/2016 13:23:30',
       '8/5/2016 13:58:27', '8/5/2016 14:00:14', '7/15/2016 15:26:38',
       '7/15/2016 15:31:37', '7/15/2016 15:32:59', '7/15/2016 16:18:00',
       '7/15/2016 16:19:09', '7/15/2016 16:21:25', '7/15/2016 17:34:39',
       '7/15/2016 20:20:33', '7/15/2016 20:39:49', '7/16/2016 12:46:10',
       '7/17/2016 16:27:57', '7/15/2016 15:30:54', '7/15/2016 15:54:54',
       '7/15/2016 19:08:37', '7/16/2016 9:18:45', '7/17/2016 17:05:09',
       '7/14/2016 14:05:15', '7/14/2016 14:06:20', '7/14/2016 15:04:21',
       '7/14/2016 15:47:33', '7/15/2016 15:15:37', '7/15/2016 16:03:37',
       '7/15/2016 16:05:04', '7/15/2016 16:20:07', '7/16/2016 13:12:50',
       '7/17/2016 21:45:33', '7/19/2016 11:46:56', '7/15/2016 17:02:43',
       '7/16/2016 18:46:18', '7/18/2016 8:27:48', '7/18/2016 8:35:24',
       '7/22/2016 12:52:43', '7/22/2016 12:53:47', '7/23/2016 14:14:16',
       '7/22/2016 14:37:17', '7/22/2016 12:49:36', '7/22/2016 12:50:23',
       '7/22/2016 12:53:36', '7/22/2016 13:11:42', '7/22/2016 14:03:30',
       '7/22/2016 14:25:23', '7/22/2016 14:54:14', '7/22/2016 14:26:04',
       '7/22/2016 12:45:30', '7/22/2016 14:25:54', '7/22/2016 12:47:59',
       '7/22/2016 16:21:04', '7/22/2016 14:25:46', '7/22/2016 15:53:14',
       '7/22/2016 18:00:51', '7/22/2016 12:51:51', '7/22/2016 14:26:06',
       '7/22/2016 14:27:03', '7/22/2016 14:28:15', '7/22/2016 12:43:02',
       '7/22/2016 12:46:29', '7/22/2016 12:50:31', '7/22/2016 14:26:59',
       '7/22/2016 14:27:45', '7/22/2016 12:45:12', '7/22/2016 13:00:34',
       '7/22/2016 14:40:12', '7/22/2016 12:44:15', '7/22/2016 12:45:16',
       '7/22/2016 12:49:41', '7/22/2016 12:52:37', '7/22/2016 12:52:51',
       '7/22/2016 15:24:21', '7/22/2016 15:54:08', '7/22/2016 15:24:25',
       '7/22/2016 12:45:22', '7/22/2016 14:04:51', '7/15/2016 2:45:00',
       '7/15/2016 2:45:11', '7/15/2016 2:48:37', '7/15/2016 2:53:18',
       '7/15/2016 2:56:09', '7/15/2016 4:37:33', '7/15/2016 19:59:23',
       '7/15/2016 20:46:14', '7/17/2016 19:06:22', '7/29/2016 6:54:22',
       '7/29/2016 6:55:40', '7/29/2016 7:26:56', '7/29/2016 9:46:08',
       '7/29/2016 11:17:08', '7/29/2016 13:11:59', '7/29/2016 13:13:36',
       '7/29/2016 13:14:07', '7/29/2016 13:14:32', '7/29/2016 13:15:14',
       '7/29/2016 13:17:10', '7/29/2016 13:17:26', '7/29/2016 13:17:34',
       '7/29/2016 13:17:36', '7/29/2016 13:17:47', '7/29/2016 13:17:56',
       '7/29/2016 13:19:10', '7/29/2016 13:19:53', '7/29/2016 13:21:00',
       '8/5/2016 12:40:44', '7/21/2016 21:57:59', '7/21/2016 21:59:37',
       '7/21/2016 22:01:53', '6/24/2016 14:02:56', '6/23/2016 14:48:47',
       '6/24/2016 9:50:50', '6/24/2016 13:21:09', '6/23/2016 13:21:46',
       '6/24/2016 13:58:52', '6/24/2016 14:12:41', '6/23/2016 13:19:38',
       '6/24/2016 9:49:30', '6/24/2016 9:53:41', '6/24/2016 9:54:45',
       '6/24/2016 11:37:05', '6/24/2016 11:40:59', '6/24/2016 11:46:04',
       '6/24/2016 13:07:03', '6/24/2016 13:11:15', '6/24/2016 13:20:57',
       '6/24/2016 13:27:16', '6/24/2016 13:33:49', '6/24/2016 13:37:25',
       '6/24/2016 13:38:57', '6/23/2016 16:11:39', '6/24/2016 9:51:03',
       '6/24/2016 13:58:11', '6/24/2016 14:07:33', '6/24/2016 15:34:30',
       '6/24/2016 13:16:51', '6/24/2016 14:05:35', '6/25/2016 20:09:34',
       '6/24/2016 13:32:30', '6/24/2016 14:05:44', '6/23/2016 13:17:43',
       '6/23/2016 14:44:06', '6/24/2016 9:49:15', '6/24/2016 9:49:18',
       '6/24/2016 9:50:06', '6/24/2016 9:50:19', '6/24/2016 11:34:57',
       '6/24/2016 13:05:10', '6/24/2016 13:07:59', '6/24/2016 13:09:46',
       '6/24/2016 13:18:32', '6/24/2016 13:27:04', '6/24/2016 13:27:52',
       '6/24/2016 13:38:21', '6/24/2016 13:38:29', '6/24/2016 14:01:31',
       '6/24/2016 15:38:31', '6/23/2016 13:19:41', '6/23/2016 13:19:58',
       '6/24/2016 9:50:59', '6/24/2016 9:51:08', '6/24/2016 11:05:49',
       '6/24/2016 13:34:12', '6/24/2016 15:38:21', '6/24/2016 16:23:30',
       '6/25/2016 19:10:35', '6/25/2016 21:41:09', '6/24/2016 13:34:08',
       '6/24/2016 13:36:37', '6/24/2016 13:39:47', '6/24/2016 13:32:17',
       '6/24/2016 13:34:38', '6/24/2016 13:35:43', '6/24/2016 13:36:49',
       '6/24/2016 14:11:08', '6/24/2016 13:35:31', '6/24/2016 13:45:54',
       '6/27/2016 15:01:42', '6/24/2016 11:41:34', '6/24/2016 11:47:36',
       '6/24/2016 13:36:03', '6/24/2016 13:42:02', '6/24/2016 13:45:04',
       '6/24/2016 13:47:15', '6/24/2016 11:42:30', '6/24/2016 12:58:35',
       '6/26/2016 22:45:58', '6/24/2016 11:41:47', '6/24/2016 11:41:42',
       '6/24/2016 11:53:29', '6/24/2016 13:33:35', '6/24/2016 13:56:06',
       '6/24/2016 16:19:53', '6/24/2016 11:53:20', '6/24/2016 14:21:25',
       '6/24/2016 13:20:34', '6/24/2016 13:41:56', '6/26/2016 23:32:51',
       '6/29/2016 22:39:27', '6/24/2016 13:30:31', '6/24/2016 14:41:17',
       '6/24/2016 17:29:38', '6/30/2016 14:09:14', '6/30/2016 22:50:08',
       '7/1/2016 9:34:16', '7/1/2016 10:42:17', '7/1/2016 11:25:53',
       '7/1/2016 11:57:11', '7/1/2016 11:58:37', '7/29/2016 1:07:23',
       '7/29/2016 1:08:46', '7/29/2016 1:11:16', '7/29/2016 1:13:23',
       '7/29/2016 1:13:56', '7/29/2016 1:17:27', '7/29/2016 1:22:25',
       '7/29/2016 1:27:55', '7/29/2016 1:28:54', '7/29/2016 1:29:23',
       '7/29/2016 1:46:49', '7/29/2016 21:20:05', '7/8/2016 6:21:11',
       '7/8/2016 6:21:29', '7/8/2016 6:21:35', '7/8/2016 6:21:46',
       '7/8/2016 6:22:10', '7/8/2016 6:22:35', '7/8/2016 6:22:50',
       '7/8/2016 6:23:09', '7/8/2016 6:23:28', '7/8/2016 6:23:49',
       '7/8/2016 6:23:50', '7/8/2016 6:24:25', '7/8/2016 6:26:03',
       '7/8/2016 6:26:30', '7/8/2016 6:26:40', '7/8/2016 6:26:49',
       '7/8/2016 6:27:01', '7/8/2016 6:27:14', '7/8/2016 6:27:31',
       '7/8/2016 6:27:49', '7/8/2016 6:28:49', '7/8/2016 6:28:56',
       '7/8/2016 6:29:05', '7/8/2016 6:33:10', '7/8/2016 6:36:23',
       '7/8/2016 6:36:36', '7/8/2016 6:38:24', '7/8/2016 12:14:54',
       '7/31/2016 8:43:57', '7/31/2016 11:28:09', '7/31/2016 13:22:31',
       '8/1/2016 1:39:51', '8/1/2016 9:40:14', '8/1/2016 10:03:22',
       '8/1/2016 10:04:06', '8/1/2016 10:06:45', '8/1/2016 11:22:56',
       'Timestamp', '7/22/2016 1:30:17', '7/22/2016 1:36:59',
       '7/22/2016 1:42:08', '7/22/2016 1:49:13', '7/22/2016 1:50:35',
       '7/22/2016 3:08:20', '7/22/2016 19:26:57', '7/22/2016 22:37:46',
       '7/23/2016 18:59:21', '7/23/2016 23:28:39', '7/24/2016 11:16:24',
       '7/15/2016 13:30:19', '7/15/2016 13:31:54', '7/15/2016 13:35:36',
       '7/15/2016 13:58:34', '7/15/2016 14:01:42', '7/15/2016 14:09:14',
       '7/15/2016 14:10:40', '7/15/2016 14:15:40', '7/15/2016 14:26:18',
       '7/15/2016 15:54:39', '7/15/2016 15:54:51', '7/15/2016 15:55:54',
       '7/15/2016 15:55:56', '7/15/2016 15:56:10', '7/15/2016 15:56:18',
       '7/15/2016 15:57:37', '7/15/2016 15:57:50', '7/15/2016 15:58:36',
       '7/15/2016 15:58:47', '7/15/2016 16:03:01', '7/15/2016 16:06:23',
       '7/15/2016 16:21:10', '7/15/2016 16:23:07', '7/15/2016 16:55:20',
       '7/15/2016 17:11:41', '7/17/2016 9:52:10', '7/18/2016 10:35:56',
       '7/15/2016 13:56:01', '7/15/2016 13:56:03', '7/15/2016 13:58:40',
       '7/15/2016 14:00:09', '7/15/2016 14:00:41', '7/15/2016 15:51:03',
       '7/15/2016 15:57:04', '7/15/2016 15:58:21', '7/15/2016 14:03:03',
       '8/5/2016 12:34:16', '8/5/2016 12:35:50', '8/5/2016 12:36:31',
       '8/5/2016 12:36:55', '8/5/2016 12:37:12', '8/5/2016 12:37:15',
       '8/5/2016 12:39:02', '8/5/2016 12:39:13', '8/5/2016 12:43:00',
       '8/5/2016 12:43:35', '8/5/2016 12:45:05', '8/5/2016 12:45:58',
       '8/5/2016 12:46:09', '8/5/2016 13:04:11', '8/5/2016 13:13:02',
       '8/5/2016 13:37:41', '8/5/2016 13:39:55', '7/8/2016 10:31:27',
       '7/8/2016 13:45:52', '7/8/2016 13:47:42', '7/8/2016 13:47:59',
       '7/8/2016 14:12:24', '7/8/2016 14:13:39', '7/1/2016 6:41:31',
       '7/1/2016 9:27:32', '7/1/2016 6:46:34', '7/1/2016 6:47:56',
       '7/1/2016 6:33:45', '7/1/2016 6:35:15', '7/1/2016 6:36:41',
       '7/1/2016 6:41:43', '7/1/2016 7:00:39', '7/1/2016 8:58:54',
       '7/1/2016 10:32:25', '7/1/2016 6:30:49', '7/1/2016 6:43:54',
       '7/1/2016 7:02:22', '7/1/2016 6:27:37', '7/1/2016 6:31:09',
       '7/1/2016 6:31:31', '7/1/2016 6:46:33', '7/1/2016 6:27:51',
       '7/1/2016 6:30:01', '7/1/2016 6:30:05', '7/1/2016 6:33:55',
       '7/1/2016 6:36:10', '7/1/2016 6:41:54', '7/1/2016 6:27:48',
       '7/1/2016 6:31:02', '7/1/2016 6:31:12', '7/1/2016 6:36:15',
       '7/22/2016 16:15:37', '7/22/2016 16:16:07', '7/22/2016 16:16:20',
       '7/22/2016 16:17:04', '7/22/2016 16:17:09', '7/22/2016 16:18:23',
       '7/22/2016 16:18:45', '7/22/2016 16:19:58', '7/22/2016 16:20:25',
       '7/22/2016 16:20:30', '7/22/2016 16:23:12', '7/22/2016 16:23:19',
       '7/29/2016 15:17:19', '7/29/2016 16:21:52', '7/29/2016 16:22:54',
       '7/29/2016 16:54:46', '7/29/2016 22:40:39', '7/31/2016 23:10:54',
       '7/30/2016 11:06:02', '7/29/2016 15:23:30', '7/29/2016 15:29:56',
       '7/29/2016 15:34:35', '7/29/2016 15:25:23', '7/29/2016 15:17:52',
       '7/29/2016 15:14:11', '7/29/2016 15:13:01', '7/29/2016 17:07:36',
       '7/29/2016 15:50:15', '7/29/2016 15:36:20', '7/29/2016 18:46:09',
       '7/29/2016 16:09:44', '7/29/2016 15:00:35', '7/29/2016 15:02:01',
       '7/29/2016 15:09:17', '7/30/2016 9:00:15', '7/29/2016 21:45:54',
       '7/30/2016 13:09:48', '7/29/2016 19:18:44', '7/29/2016 23:12:48',
       '7/30/2016 5:46:01', '7/30/2016 7:02:47', '7/31/2016 7:40:14',
       '7/31/2016 8:34:29', '8/5/2016 13:37:43', '8/5/2016 13:37:50',
       '8/5/2016 13:39:25', '8/5/2016 13:39:27', '8/5/2016 13:41:05',
       '8/5/2016 13:43:54', '8/5/2016 13:34:26', '8/5/2016 13:35:21',
       '8/5/2016 13:35:36', '8/5/2016 13:36:39', '8/5/2016 13:39:14',
       '8/5/2016 13:36:43', '8/5/2016 13:49:53', '8/5/2016 13:34:54',
       '8/5/2016 13:38:26', '8/5/2016 13:51:09', '8/5/2016 13:52:31',
       '8/5/2016 13:35:43', '8/5/2016 13:38:05', '8/5/2016 13:35:03',
       '8/5/2016 13:36:44', '8/5/2016 13:38:33', '8/5/2016 13:40:07',
       '8/5/2016 13:34:18', '8/5/2016 13:34:53', '8/5/2016 13:38:00',
       '8/5/2016 13:51:41', '8/5/2016 13:34:04', '8/5/2016 13:32:40',
       '8/5/2016 15:07:12', '8/5/2016 13:36:23', '8/5/2016 13:51:20',
       '8/5/2016 13:39:45', '8/5/2016 14:44:00', '8/5/2016 14:03:39',
       '8/5/2016 13:47:15', '8/5/2016 13:45:29', '8/5/2016 13:49:31',
       '8/5/2016 13:47:02', '8/5/2016 13:48:45', '8/5/2016 13:44:33',
       '8/5/2016 13:43:43', '8/5/2016 13:44:24', '8/5/2016 13:43:17',
       '8/5/2016 13:51:18', '8/5/2016 13:43:35', '8/7/2016 17:45:06',
       '7/15/2016 6:28:26', '7/15/2016 6:29:53', '7/15/2016 6:30:09',
       '7/15/2016 6:30:24', '7/15/2016 6:31:29', '7/15/2016 6:31:36',
       '7/15/2016 6:32:19', '7/15/2016 6:36:55', '7/15/2016 6:37:43',
       '7/15/2016 6:57:30', '7/15/2016 7:03:28', '7/15/2016 7:30:38',
       '7/15/2016 7:37:15', '7/15/2016 7:47:54', '7/15/2016 10:11:32',
       '7/15/2016 10:18:52', '7/8/2016 15:56:20', '7/8/2016 16:02:55',
       '7/8/2016 16:19:51', '7/8/2016 16:34:12', '7/8/2016 16:39:27',
       '7/8/2016 16:46:21', '7/8/2016 17:33:28', '7/9/2016 14:23:38',
       '7/10/2016 20:55:08', '7/8/2016 15:58:04', '7/8/2016 16:08:03',
       '7/8/2016 15:55:12', '7/8/2016 15:56:10', '7/8/2016 15:58:45',
       '7/8/2016 16:40:17', '7/8/2016 18:34:39', '7/9/2016 8:14:45',
       '7/8/2016 16:23:15', '7/8/2016 16:27:30', '7/8/2016 17:18:49',
       '7/8/2016 19:14:34', '7/11/2016 12:10:26', '7/11/2016 12:39:56',
       '6/24/2016 7:03:34', '6/24/2016 7:10:22', '6/24/2016 7:03:41',
       '6/24/2016 7:04:59', '6/24/2016 7:07:02', '6/24/2016 7:08:41',
       '6/24/2016 7:09:30', '6/24/2016 7:01:03', '6/24/2016 7:02:43',
       '6/24/2016 7:03:48', '6/24/2016 7:06:04', '6/24/2016 7:06:24',
       '6/24/2016 7:01:19', '6/24/2016 7:01:29', '6/24/2016 7:02:20',
       '6/24/2016 7:03:24', '6/24/2016 7:03:25', '6/24/2016 7:03:58',
       '6/24/2016 7:06:59', '6/24/2016 7:07:06', '6/24/2016 7:08:37',
       '6/24/2016 7:08:51', '6/24/2016 7:01:55', '6/24/2016 7:06:21',
       '6/24/2016 7:07:00', '6/24/2016 7:04:34', '6/24/2016 7:08:15',
       '6/24/2016 7:12:49', '6/24/2016 7:04:09', '6/24/2016 7:04:11',
       '6/24/2016 7:05:51', '6/24/2016 7:06:58', '6/24/2016 7:07:26',
       '6/24/2016 7:08:43', '6/24/2016 7:18:32', '6/24/2016 8:22:55',
       '7/1/2016 13:27:56', '7/1/2016 13:29:33', '7/1/2016 13:29:43',
       '7/1/2016 13:30:28', '7/1/2016 13:34:11', '7/1/2016 13:35:20',
       '7/1/2016 16:35:14', '7/1/2016 17:01:13', '7/2/2016 9:50:36',
       '7/1/2016 10:36:57', '7/1/2016 10:41:44', '7/1/2016 10:47:58',
       '7/1/2016 10:56:51', '7/4/2016 23:02:16', '7/1/2016 13:27:10',
       '7/1/2016 13:28:59', '7/1/2016 13:29:07', '7/1/2016 13:29:40',
       '7/1/2016 13:30:05', '7/1/2016 13:30:53', '7/1/2016 13:31:04',
       '7/1/2016 13:39:46', '7/1/2016 13:41:30', '7/1/2016 13:49:17',
       '7/1/2016 15:59:22', '7/1/2016 15:59:54', '7/1/2016 16:02:57',
       '7/1/2016 16:30:11', '7/1/2016 16:32:24', '7/1/2016 17:51:29',
       '7/1/2016 9:46:04', '7/1/2016 9:47:30', '7/1/2016 10:41:18',
       '7/1/2016 10:41:34', '7/1/2016 10:45:47', '7/1/2016 13:12:22',
       '7/1/2016 13:19:07', '7/1/2016 13:25:54', '7/1/2016 13:28:33',
       '7/1/2016 13:29:01', '7/1/2016 13:33:15', '7/1/2016 13:33:28',
       '7/1/2016 13:29:47', '7/1/2016 13:30:07', '7/1/2016 13:32:18',
       '7/1/2016 16:01:17', '7/1/2016 16:02:10', '7/1/2016 16:04:18',
       '7/1/2016 16:44:38', '7/1/2016 9:41:30', '7/1/2016 10:43:14',
       '7/1/2016 10:47:06', '7/1/2016 10:47:57', '7/1/2016 13:25:32',
       '7/1/2016 13:26:00', '7/1/2016 13:28:10', '7/8/2016 7:36:11',
       '7/8/2016 22:05:05', '7/15/2016 13:20:35', '7/15/2016 13:22:22',
       '7/15/2016 14:35:15', '7/15/2016 15:05:10', '7/15/2016 15:12:36',
       '7/15/2016 16:59:37', '7/15/2016 17:10:52', '7/15/2016 19:32:26',
       '8/5/2016 11:13:01', '8/5/2016 11:17:11', '8/5/2016 11:17:52',
       '8/5/2016 11:18:01', '8/5/2016 11:20:15', '8/5/2016 11:21:10',
       '8/5/2016 12:11:04', '8/5/2016 19:14:21', '8/5/2016 11:39:18',
       '8/5/2016 12:27:18', '8/5/2016 11:20:43', '8/5/2016 11:38:52',
       '8/5/2016 11:56:23', '8/5/2016 12:35:08', '8/7/2016 10:45:47',
       '8/5/2016 11:21:38', '8/8/2016 8:35:18', '8/8/2016 8:39:01',
       '8/8/2016 9:41:39', '7/29/2016 13:46:28', '7/29/2016 13:52:16',
       '7/29/2016 16:10:41', '7/29/2016 15:10:27', '7/29/2016 14:18:21',
       '7/29/2016 15:25:45', '7/29/2016 16:41:48', '7/29/2016 15:26:20',
       '7/29/2016 13:20:33', '7/29/2016 13:24:45', '7/29/2016 13:47:43',
       '7/29/2016 15:31:26', '7/29/2016 15:28:06', '7/29/2016 13:44:38',
       '7/29/2016 15:36:04', '7/29/2016 13:26:06', '7/29/2016 15:02:27',
       '7/29/2016 15:15:48', '7/29/2016 13:35:17', '7/29/2016 13:27:19',
       '7/29/2016 14:40:29', '7/29/2016 15:06:33', '7/29/2016 15:17:23',
       '7/29/2016 13:23:48', '7/29/2016 13:17:25', '7/29/2016 13:19:14',
       '7/29/2016 13:17:38', '7/29/2016 13:46:22', '7/29/2016 13:21:13',
       '7/29/2016 13:11:56', '7/29/2016 13:15:55', '7/29/2016 13:16:10',
       '7/29/2016 13:19:58', '7/29/2016 13:17:35', '7/29/2016 13:24:51',
       '7/29/2016 0:19:08', '7/29/2016 0:22:41', '7/29/2016 0:23:17',
       '7/22/2016 13:29:33', '7/22/2016 13:35:20', '7/22/2016 13:36:39',
       '7/22/2016 13:37:15', '7/22/2016 13:40:21', '7/22/2016 13:44:52',
       '7/22/2016 13:50:50', '7/22/2016 13:51:22', '7/22/2016 13:51:35',
       '7/22/2016 13:51:36', '7/22/2016 13:51:44', '7/22/2016 13:52:05',
       '7/22/2016 13:52:19', '7/22/2016 13:52:41', '7/22/2016 13:53:19',
       '7/22/2016 13:53:31', '7/22/2016 13:53:56', '7/22/2016 13:54:46',
       '7/22/2016 13:54:52', '7/22/2016 13:57:13', '7/1/2016 16:10:55',
       '7/1/2016 17:00:26', '7/3/2016 14:53:37', '7/1/2016 15:35:19',
       '7/1/2016 15:51:23', '7/1/2016 16:07:02', '7/1/2016 16:07:26',
       '7/1/2016 16:08:19', '7/1/2016 16:12:30', '7/1/2016 16:19:32',
       '7/1/2016 16:21:07', '7/1/2016 16:41:10', '7/1/2016 17:06:05',
       '7/1/2016 17:18:27', '7/1/2016 19:06:08', '7/2/2016 0:32:56',
       '7/1/2016 16:05:40', '7/1/2016 16:07:13', '7/1/2016 16:07:24',
       '7/1/2016 16:07:58', '7/1/2016 16:08:49', '7/1/2016 16:10:20',
       '7/1/2016 16:10:46', '7/1/2016 16:12:17', '7/1/2016 16:19:33',
       '7/1/2016 16:22:03', '7/1/2016 16:10:34', '7/1/2016 16:23:13',
       '7/1/2016 16:07:04', '7/1/2016 16:15:04', '7/1/2016 16:15:41',
       '7/1/2016 16:16:13', '7/1/2016 16:17:34', '7/1/2016 16:18:02',
       '7/1/2016 15:40:51', '7/1/2016 15:38:22', '7/1/2016 15:40:24',
       '7/1/2016 15:40:28', '7/1/2016 15:42:15', '7/1/2016 15:49:06',
       '7/1/2016 15:50:59', '7/1/2016 16:20:36', '7/1/2016 17:13:25',
       '7/5/2016 9:48:32', '7/5/2016 16:07:37', '7/5/2016 16:10:40',
       '7/5/2016 16:11:11', '7/1/2016 16:24:01', '7/4/2016 18:31:39',
       '7/5/2016 9:39:22', '7/5/2016 10:15:27', '7/5/2016 16:09:01',
       '7/2/2016 12:45:15', '7/2/2016 12:49:55', '7/5/2016 12:00:21',
       '7/1/2016 15:35:33', '7/2/2016 21:55:49', '7/5/2016 11:30:35',
       '7/5/2016 18:24:11', '6/23/2016 15:55:12', '6/23/2016 16:14:04',
       '6/24/2016 0:18:42', '6/24/2016 6:59:42', '6/24/2016 9:40:16',
       '6/23/2016 22:07:29', '6/24/2016 9:34:14', '7/1/2016 5:41:15',
       '7/1/2016 8:52:52', '7/2/2016 7:49:54', '7/3/2016 19:14:57',
       '7/3/2016 19:21:48', '7/3/2016 19:27:27', '7/3/2016 20:00:26',
       '7/4/2016 3:03:20', '7/8/2016 12:52:08', '7/9/2016 15:22:45',
       '7/8/2016 21:26:01', '7/8/2016 13:52:01', '7/8/2016 14:00:28',
       '7/8/2016 14:42:40', '7/8/2016 14:03:46', '7/8/2016 16:40:10',
       '7/8/2016 13:58:12', '7/8/2016 13:53:19', '7/8/2016 15:59:30',
       '7/8/2016 16:11:32', '7/8/2016 12:49:05', '7/8/2016 12:49:16',
       '7/8/2016 12:47:42', '7/8/2016 12:43:44', '7/8/2016 13:55:51',
       '7/8/2016 14:02:54', '7/8/2016 14:29:22', '7/9/2016 17:05:33',
       '7/8/2016 16:55:21', '7/8/2016 16:08:13', '7/8/2016 13:56:39',
       '7/8/2016 14:03:35', '7/8/2016 13:51:14', '7/8/2016 12:41:10',
       '7/8/2016 12:41:13', '7/8/2016 12:41:51', '7/8/2016 12:43:35',
       '7/8/2016 12:45:11', '7/8/2016 12:47:39', '7/8/2016 13:01:58',
       '7/10/2016 23:44:41', '7/8/2016 16:41:06', '7/8/2016 13:07:39',
       '7/8/2016 12:45:02'], dtype=object)

In [346]:
all_data = pd.merge(df16_17, data_week8, how='left')

In [347]:
all_data.head()

,Tutorial Pacing,Schedule Pacing,Week Rating,Timestamp,Track,Location,Week,Overall Rating,Start Date (UTC),Submit Date (UTC)
0,0,0,3,8/5/2016 1:39:41,Track,Location,NoWeek,NaN,NaN,NaN
1,0,0,4,8/5/2016 1:40:47,Track,Location,NoWeek,NaN,NaN,NaN
2,0,0,4,8/5/2016 1:40:50,Track,Location,NoWeek,NaN,NaN,NaN
3,0,0,4,8/5/2016 1:42:44,Track,Location,NoWeek,NaN,NaN,NaN
4,0,0,5,8/5/2016 1:45:13,Track,Location,NoWeek,NaN,NaN,NaN

In [358]:
all_data["Overall Rating"] = all_data["Overall Rating"].fillna(0).astype(int)
all_data["Start Date (UTC)"] = all_data["Start Date (UTC)"].fillna(0).astype(int)