In [2]:
import glob
import pandas as pd 
import os

# df16 = [pd.read_csv(f) for f in glob.glob('./SA Feedback Surveys_FINAL/2016/*.csv')]

all_csvs = glob.glob(os.path.join('./SA Feedback Surveys_FINAL/2016/', "*.csv"))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,#,How likely is it that you would recommend the Make School Summer Academy to a friend?,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Network ID,Start Date (UTC),Submit Date (UTC),Timestamp,Unnamed: 0,What track are you in?,location,track
0,NaN,NaN,NaN,3,3,NaN,NaN,NaN,8/5/2016 1:39:41,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,3,4,NaN,NaN,NaN,8/5/2016 1:40:47,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,3,4,NaN,NaN,NaN,8/5/2016 1:40:50,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,4,4,NaN,NaN,NaN,8/5/2016 1:42:44,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,4,5,NaN,NaN,NaN,8/5/2016 1:45:13,NaN,NaN,NaN,NaN

# To-Do List
- [ ] Check all columns to see if they have valid responses
- [ ] #REF! rows invalid
- [ ] Convert all string scors to int values
- [ ] Track, location vs popularity
- [ ] Understand from which region of the country students are most satisfied or dissatisfied

In [5]:
df['How likely is it that you would recommend the Make School Summer Academy to a friend?'].unique()

array([nan, 10.,  9.,  3.,  8.,  6.,  7.,  4.,  5.])

In [10]:
df['How likely is it that you would recommend the Make School Summer Academy to a friend?'].isna()

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
       ...
962    True
963    True
964    True
965    True
966    True
967    True
968    True
969    True
970    True
971    True
972    True
973    True
974    True
975    True
976    True
977    True
978    True
979    True
980    True
981    True
982    True
983    True
984    True
985    True
986    True
987    True
988    True
989    True
990    True
991    True
Name: How likely is it that you would recommend the Make School Summer Academy to a friend?, Length: 992, dtype: bool

In [9]:
df['How well is the schedule paced?'].unique()

array([3, 4, 1, 2, 5, nan, '2', '3', '4', '5', '#REF!'], dtype=object)

In [3]:
# Available tracks are Intro, Games, Apps and VR
df['What track are you in?'].unique()

array([nan, 'Intro', 'Games', 'Apps', 'VR', 'Average:'], dtype=object)

In [4]:
# Available locations are New York, San Francisco, Sunnyvale, Singapore and Los Angeles
df['location'].unique()

array([nan, 'New York', 'San Francisco', 'Sunnyvale', 'Singapore',
       'Los Angeles'], dtype=object)

In [5]:
df['How well are the tutorials paced?'].unique()

array([nan,  3.,  4.,  5.,  2.])